/* ================= CSS Default ================= */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
}

li {
    list-style-type: none;
}

a,
img {
    transition: all 0.15s ease;
}

a:focus {
    outline: none;
}

a,
a:hover,
a:active,
a:link,
a:visited {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.padding0 {
    padding: 0;
}

.clearfix {
    clear: both;
}


/* ================= CSS Config ================= */

.space_section {
    padding: 90px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.25;
}

h1 {
    font-size: 55px;
    margin-bottom: 25px;
}

h2 {
    font-size: 45px;
    margin-bottom: 20px;
}

h3 {
    font-size: 30px;
    margin-bottom: 35px;
    font-weight: 600;
}

h4 {
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 600;
}

h5 {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: 600;
}

h6 {
    font-size: 15px;
    font-weight: 600;
}

p {
    line-height: 1.8;
    font-size: 15px;
    font-weight: 300;
}

input[type="text"] {
    font-weight: 400;
    padding: 12px 15px;
    border-radius: 0;
}

input[type="submit"],
input[type="button"],
button {
    padding: 13px 45px;
    border-radius: 50px;
    font-size: 16px;
}


/* ================= CSS FULL (content you write code here) ================= */

.padding-left0 {
    padding-left: 0px;
}


/* ================= HEADER ================= */

.navbar {
    background-color: trÍansparent;
    background: transparent;
    border-color: transparent;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-toggler-icon {
    background-image: url(../images/menu.png);
    background-repeat: no-repeat;
}

.navbar-toggler {
    border: 2px solid #1bced9;
}

.navbar-toggler:focus {
    background-color: #1bced9;
}

.navbar-collapse.collapse.show {
    background-color: #fff;
    padding: 20px;
}

.navbar-collapse.collapse.show ul li {
    border-bottom: 2px solid #ccc;
}

.navbar-collapse.collapse.show a {
    color: #515254;
}

.navbar-collapse.collapse.show a:hover {
    color: #1bced9;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: #1bced9;
}

#navbarDropdown {
    margin-left: -15px;
}

header {
    background: transparent;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.dis-transparent {
    background-color: #fff;
}

.dis-transparent a {
    color: #515254!important;
}

.dis-transparent a:hover {
    color: #1bced9!important;
}

.btn-outline-success {
    color: #1bced9;
    border-color: #1bced9;
}

.nav-item .active a {
    color: #1bced9;
}


/* ================= MAIN ================= */

.content-container {
    margin-top: 50px;
}

.content-container p {
    color: #121a30;
}

.content-container a {
    color: #121a30;
    font-size: 16px;
    font-weight: bold;
}

.introdution-container p {
    color: #121a30;
}

.introdution-home a {
    padding: 3px 8px 3px 8px;
    color: white;
    background-color: #13bfca;
}

.introdution-container h3 {
    margin-bottom: 15px;
    margin-top: 10px;
    font-weight: inherit;
}


/* Start slide title */

.slide {
    background-image: url('../images/background.jpg');
    position: relative;
    height: 700px;
    background-size: cover;
}

.slide__wrapper {
    height: 100%;
}

.slide__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    height: 100%;
}

.slide__inner {
    margin: 0 auto;
    width: 550px;
    text-align: center;
}

.slide__title {
    font-weight: unset;
}


/* End slide stitle */

.slide__bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.btn__item {
    position: relative;
    text-align: left;
    margin-bottom: 40px;
}

.btn__item:hover .boder-bottom-item {
    filter: grayscale(0%);
    /* background: url(../images/dot-02.png) repeat; */
}

.icon {
    background-image: url('../images/right-round-icon.png');
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    top: 12px;
    width: 22px;
    height: 15px;
}

.boder-bottom-item {
    height: 15px;
    filter: grayscale(100%);
    background: url(../images/dot.png) repeat;
}

.option-container {
    margin-top: 20px;
}

.option-container h6 {
    color: #a9aaad;
    margin-bottom: 0px;
}

.option-container h6:hover {
    color: #1bced9;
    cursor: pointer;
}

.option-container .active {
    color: #1bced9;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: #1bced9;
}

.child {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 0px;
}

.child-02 {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 0px;
    right: 0px;
}

.around-01 {
    margin-top: 10%;
}

.around-02 {
    margin-top: 10%;
}

.introdution-home {
    margin-top: 20px;
}

.img-effect {
    margin-right: 100px;
    margin-bottom: 100px;
    position: relative;
}

.img-effect::before {
    right: -70px;
    bottom: -70px;
    margin: auto;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    z-index: -1;
    background: url(../images/dot-02.png) repeat;
}

.img-intro {
    z-index: 1;
    border: 8px solid #fec917;
}


/* start css .content-container */

.content-home {
    margin-top: 20px;
}

.img-effect-left {
    margin-left: 100px;
    margin-bottom: 100px;
    position: relative;
}

.img-effect-left::before {
    left: -70px;
    bottom: -70px;
    margin: auto;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    z-index: -1;
    background: url(../images/dot-02.png) repeat;
}

.img-intro {
    z-index: 1;
    border: 8px solid #fec917;
}


/* end css .content-container */


/* BEGIN WELAND CSS */

.slide-weland {
    z-index: -1;
    background: url(../images/slide-bg-welend.jpg) no-repeat;
    position: relative;
    height: 550px;
    background-size: cover;
}

.slide-sub-title {
    font-weight: unset;
    font-size: 12px;
}

.slide__weland__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    height: 100%;
}

.slide__weland__title {
    font-weight: unset;
}

.btn-weland-more {
    color: #1d9c94;
    border: 2px solid #29cec4;
    border-radius: unset;
    padding: 4px 25px 4px 25px;
}

.btn-weland-more:hover {
    background-color: #29cec4;
    border: 2px solid #29cec4;
}


/* begin box info */

.info-text {
    margin-top: -20px;
    z-index: 1;
    padding: 20px 60px 20px 60px;
}


/* end box info */


/* begin article */

.listgroup__title {
    font-weight: unset;
    color: #404040;
    margin-bottom: 10px;
}

.underlined {
    width: 40px;
    height: 1px;
    background: #404040;
    margin-bottom: 25px;
}

.article__list {
    margin-bottom: 10px;
}

.check__circle__icon {
    margin-right: 15px;
    margin-bottom: 5px;
    width: 16px;
    height: 16px;
}

.introdution_list {
    margin-left: 50px;
}


/* end article */


/* begin Advantages */

.underlined_white {
    width: 40px;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    margin-bottom: 25px;
}

.section__advantages {
    padding: 20px;
    background-color: #151515;
}

.section__advantages .card {
    background-color: #151515;
    border: unset;
}

.section__advantages .card-body {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 0px;
    color: #ffffff;
}

.section__advantages .card-img {
    padding: 3px;
}

.section__advantages .text-muted {
    color: #ffffff;
}

.section__advantages .card-title {
    color: #ffffff;
    margin-bottom: 0px;
    font-weight: unset;
}

.section__advantages__title {
    margin-top: 30px;
    font-weight: unset;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}


/* end Advantages */


/* begin intro tech css */

.section__technology {
    margin-top: 30px;
}

.article__technology {
    margin-left: 50px;
    margin-top: 20px;
}


/* end intro tech css */


/* end WELAND CSS */


/* BEGIN ECOSYSTEM CSS */

.slide__ecosystem {
    z-index: -1;
    background: url(../images/ecosystem-slide-background.jpg) no-repeat;
    position: relative;
    height: 500px;
    background-size: cover;
}

.section__article {
    padding-top: 40px;
    padding-bottom: 40px;
}

.section__article h4 {
    font-size: 25pt;
    margin-top: 10px;
    color: #121a30;
}

.section__article p {
    color: #121a30;
}

.section__article .card {
    border: unset;
}

.section__article .card-body {
    padding-top: 0px;
}

.section__article .card-title {
    font-weight: unset;
    color: #121a30;
    margin-bottom: 0px;
}

.section__article .card-img {
    padding: 5px;
}

.section__article .text-muted {
    color: #121a30;
}

.section__article .underlined {
    background-color: #121a30;
    height: 2px;
    width: 50px;
}

.section__thumnail {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


/* end bfinex pay */


/* begin bfine wallet css */

#bfineWalletSection {
    background-color: #f5f5f5;
}

#bfineWalletSection .card {
    background-color: #f5f5f5;
}


/* end bfine wallet css */


/* END ECOSYSTEM CSS */


/* BEGIN fund css */

.slide__fund {
    z-index: -1;
    background: url(../images/bfine-fund-background.jpg) no-repeat;
    position: relative;
    height: 500px;
    background-size: cover;
    display: flex;
    align-items: center;
}

.center__wraper {
    padding: 0px 50px 0px 50px;
    height: 100%;
    display: flex;
    align-items: center;
}

#briSection p {
    text-align: justify;
}

#briSection .section__thumnail {
    padding: 0px 100px 0px 100px;
}

#tokenLlocationSection {
    background-color: #f5f5f5;
}

#tokenLlocationSection .section__thumnail {
    padding: 0px 50px 0px 50px;
}

#sectionTKDistribution {
    padding: 50px;
    background-color: white;
}

.d__title {
    color: #1a1b1b;
    text-align: center;
    font-weight: unset;
}

#sectionTKDistribution .d_underlined {
    background-color: #1a1b1b;
    margin-left: auto;
    width: 50px;
    height: 2px;
    margin-right: auto;
}

#sectionTKDistribution .gr__round {
    padding-top: 50px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

.gr__title hr {
    width: 50px;
    margin: 0 auto;
    border-top: 2px solid #1a1b1b;
}

#grRound article h5 {
    font-size: 20px;
    font-weight: unset;
    margin-bottom: 5px;
}

#grRound article p {
    font-size: 20px;
}

#grRound article:first-child {
    background: url(../images/round01.png) no-repeat;
}

#grRound article:nth-child(2) {
    background: url(../images/round02.png) no-repeat;
}

#grRound article:nth-child(3) {
    background: url(../images/round03.png) no-repeat;
}

#grRound article:last-child {
    background: url(../images/round04.png) no-repeat;
}

#grRound article {
    margin-right: -23px;
    padding: 75px 0px 40px;
    background-size: 100%!important;
    float: left;
    width: 25%;
    text-align: center;
}

#sectionUnite {
    padding: 50px 0 50px;
    background-color: #f5f5f5;
}

#sectionUnite h6 {
    padding: 25px 150px 0px 150px;
    font-weight: unset;
    font-size: 14px;
    text-align: center;
}

#sectionUnite ul {
    padding: 0px 70px 0px 70px;
}

#sectionUnite .row {
    margin: 30px 0px 0px 0px;
}

#sectionUnite .gr__title {
    display: grid;
}

#btnInvite {
    background-color: #00d4be;
    border-radius: unset;
    border: 1px solid #00d4be;
    padding: 6px 50px 6px 50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* END fund css */


/* ================= FOOTER ================= */

footer section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    background-size: cover;
    padding-bottom: 40px;
    background-repeat: no-repeat;
    background-image: url('../images/footer.jpg');
}

footer .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo-copyright {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-widget-icons {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.copyright-text {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.fanpages li {
    float: left;
    margin-right: 8px;
}


/* ================= Few Option ================= */